.bg-dark {
    background-color: #5B4B66!important;
}

.btn-primary {
    background-color: #613880!important;
    border-color: #613880!important;
}

.bg-primary {
    background-color: #9E84B3!important ;
}

.border-primary {
    border-color: #874fB3!important;
}

.bg-light {
    background-color:#9E84B3!important;
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.focus,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:focus {
    outline: 0;
    outline-color: transparent;
    outline-width: 0;
    outline-style: none;
    box-shadow: 0 0 0 0.2rem #E2BDFF!important;
}

input:focus {
    box-shadow: 0 0 0 0.2rem #E2BDFF!important;
    border-color: #9E84B3!important;
}

.table .thead-dark th {
    color: #fff;
    background-color:#5B4B66!important;
    border-color: #5B4B66!important;
}
