.bg-dark {
    background-color: #5B4B66!important;
}

.btn-primary {
    background-color: #613880!important;
    border-color: #613880!important;
}

.bg-primary {
    background-color: #9E84B3!important ;
}

.border-primary {
    border-color: #874fB3!important;
}

.bg-light {
    background-color:#9E84B3!important;
}